<div class="card-container">
    <mat-card>
        <form class="example-form" [formGroup]="form" (ngSubmit)="submit()">
            <h2 class="group-header">Create a Post</h2>
            <mat-form-field class="example-full-width">
                <mat-label>Title</mat-label>
                <input formControlName="title" type="text" matInput>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Author</mat-label>
                <input formControlName="author" type="text" matInput>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Content</mat-label>
                <textarea rows="10" formControlName="content" matInput></textarea>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" [disabled]="form.invalid" type="submit">Create</button>
        </form>
    </mat-card>
</div>