<mat-card>
    <form class="example-form" [formGroup]="form" (ngSubmit)="submit()">
        <h2 class="group-header">Sign in</h2>
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input formControlName="email" type="email" matInput>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input formControlName="password" type="password" matInput placeholder="......">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" [disabled]="form.invalid" type="submit">Submit</button>
    </form>
</mat-card>