<mat-toolbar color="primary">
    <div>
        <span [routerLink]="['/']">Fire blog</span>
        <button [routerLink]="['admin', 'posts']" mat-icon-button>
            Admin dashboard
        </button>
    </div>
    <button [routerLink]="['auth', 'sign-in']" mat-icon-button *ngIf="!isAuth">
        Sign in
    </button>
    <button mat-button [matMenuTriggerFor]="menu" *ngIf="isAuth">{{ email }}</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logOut()">Log out</button>
    </mat-menu>

</mat-toolbar>