<div class="posts">
    <div class="post" *ngFor="let post of posts">
        <h2 [routerLink]="post.id">{{ post.title }}</h2>
        <div class="post-author">{{ post.author }}</div>
        <div class="post-content" [innerHTML]="post.content"></div>
    </div>
</div>